h3 {
  font-size: 1.1rem;
  font-weight: 700;
  /*margin-top: 2.2rem;*/
  /*border-bottom: 1px solid rgb(222, 226, 230);*/
}

h2 {
  margin-top: 2rem;
  /*border-bottom: 1px solid rgb(222, 226, 230);*/
}

.lead {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
